* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.registro-bg {
    width: 100vw;
    min-height: 100vh;
    background-image: url('../../assets/images/fondo.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;      
    justify-content: center;
    padding: 20px; 
}


.card-registro {
    background: rgba(230, 245, 255, 0.95); 
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    max-width: 450px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #1a1a7e;
}

.card-registro h1 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}


.input-group {
    text-align: left;
    margin-bottom: 1rem;
}

.card-registro label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;
    font-size: 0.85rem;
    color: #2e1a94;
}


.card-registro input {
    width: 100%;
    padding: 0.7rem;
    border-radius: 10px;
    border: none;
    background-color: #b1bdcd; 
    color: #1a1a7e;
    font-size: 0.95rem;
    outline: none;
}

.card-registro input:focus {
    background-color: #a1adbd;
    box-shadow: 0 0 5px rgba(46, 26, 148, 0.3);
}

.card-registro button {
    width: 100%;
    padding: 1rem;
    background-color: #2e1a94;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background 0.3s;
}

.card-registro button:hover {
    background-color: #1a1a7e;
}

/* Texto inferior y link al Login */
.login-link {
    margin-top: 1.2rem;
    font-size: 0.8rem;
    line-height: 1.4;
}

.login-link span {
    color: #2e1a94;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}