.custom-navbar {
    position: fixed; 
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.nav-container {
    max-width: 1600px; 
    width: 95%; 
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px; 
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100px;
}

.nav-logo img {
    width: 50px; 
    height: auto;
    transition: transform 0.3s ease;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #c4ff9a; 
}


.btn-admin {
    background-color: #2ecc71 !important;
    padding: 10px 25px !important;
    border-radius: 50px !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 0.8rem !important;
}


@media (max-width: 768px) {
    .nav-container {
        border-radius: 20px;
        height: 60px;
    }

    .nav-links {
        position: fixed;
        top: 80px;
        right: -100%;
        flex-direction: column;
        background: rgba(26, 26, 126, 0.95);
        width: 250px;
        height: auto;
        padding: 40px;
        border-radius: 20px;
        transition: 0.4s;
    }

    .nav-links.active {
        right: 5%;
    }

    .nav-menu-toggle {
        display: flex;
        flex-direction: column;
        gap: 5px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .nav-menu-toggle .line {
        width: 25px;
        height: 3px;
        background: white;
        border-radius: 5px;
    }
}