* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.footer {
    background-color: rgba(64, 64, 64, 0.499);
    padding: 50px 0;
    color: white;
    width: 100%;
    border: solid 2px white;
    border-radius: 10px;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #121212;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Para que en celular se pongan uno abajo de otro */
    gap: 30px;
}

.footer-links h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #1db954;
    /* El verde de tu marca */
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: white;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background-color: #1db954;
    transform: translateY(-5px);
}