
:root {
  font-family: system-ui, sans-serif;
  --azul-main: #1e37f2;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: var(--azul-main);
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}