.admin-bg {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 100px 20px 20px 20px;
    box-sizing: border-box;
    background-image: url('../../assets/images/fondo.png.jpeg');
    background-size: cover;
    background-position: center;
}

.card-admin {
    background-color: #f0f9ff;
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    max-width: 960px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card-admin h1 {
    color: #2e1a94;
    margin-bottom: 0.5rem;
}

.card-admin p {
    color: #333;
    opacity: 0.9;
}
